
@{
    ViewBag.Title = "Category";
}
<div class="page-body">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h5 class="panel-title">Categories</h5>
                </div>
                <div class="panel-body">
                    <div id="data-table-5_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="data-table-5_length"><label>Show <select name="data-table-5_length" aria-controls="data-table-5" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="data-table-5_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table-5"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="data-table-5" class="table table-striped table-bordered responsive-datatable dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="data-table-5_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 45px;" aria-sort="ascending" aria-label="First name: activate to sort column descending">First name</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 53px;" aria-label="Last name: activate to sort column ascending">Last name</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 67px;" aria-label="Position: activate to sort column ascending">Position</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 51px;" aria-label="Office: activate to sort column ascending">Office</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 28px;" aria-label="Age: activate to sort column ascending">Age</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 51px;" aria-label="Start date: activate to sort column ascending">Start date</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 50px;" aria-label="Salary: activate to sort column ascending">Salary</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 32px;" aria-label="Extn.: activate to sort column ascending">Extn.</th><th class="sorting" tabindex="0" aria-controls="data-table-5" rowspan="1" colspan="1" style="width: 176px;" aria-label="E-mail: activate to sort column ascending">E-mail</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1">Airi</td>
                                            <td>Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                            <td>5407</td>
                                            <td>a.satou@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1" tabindex="0">Angelica</td>
                                            <td>Ramos</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2009/10/09</td>
                                            <td>$1,200,000</td>
                                            <td>5797</td>
                                            <td>a.ramos@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1">Ashton</td>
                                            <td>Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                            <td>1562</td>
                                            <td>a.cox@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1" tabindex="0">Bradley</td>
                                            <td>Greer</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>41</td>
                                            <td>2012/10/13</td>
                                            <td>$132,000</td>
                                            <td>2558</td>
                                            <td>b.greer@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" tabindex="0">Brenden</td>
                                            <td>Wagner</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>28</td>
                                            <td>2011/06/07</td>
                                            <td>$206,850</td>
                                            <td>1314</td>
                                            <td>b.wagner@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td tabindex="0" class="sorting_1">Brielle</td>
                                            <td>Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                            <td>4804</td>
                                            <td>b.williamson@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" tabindex="0">Bruno</td>
                                            <td>Nash</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>38</td>
                                            <td>2011/05/03</td>
                                            <td>$163,500</td>
                                            <td>6222</td>
                                            <td>b.nash@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1" tabindex="0">Caesar</td>
                                            <td>Vance</td>
                                            <td>Pre-Sales Support</td>
                                            <td>New York</td>
                                            <td>21</td>
                                            <td>2011/12/12</td>
                                            <td>$106,450</td>
                                            <td>8330</td>
                                            <td>c.vance@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" tabindex="0">Cara</td>
                                            <td>Stevens</td>
                                            <td>Sales Assistant</td>
                                            <td>New York</td>
                                            <td>46</td>
                                            <td>2011/12/06</td>
                                            <td>$145,600</td>
                                            <td>3990</td>
                                            <td>c.stevens@datatables.net</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td tabindex="0" class="sorting_1">Cedric</td>
                                            <td>Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                            <td>6224</td>
                                            <td>c.kelly@datatables.net</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="data-table-5_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_full_numbers" id="data-table-5_paginate"><ul class="pagination"><li class="paginate_button page-item first disabled" id="data-table-5_first"><a href="#" aria-controls="data-table-5" data-dt-idx="0" tabindex="0" class="page-link"><i class="ti-angle-double-left"></i></a></li><li class="paginate_button page-item previous disabled" id="data-table-5_previous"><a href="#" aria-controls="data-table-5" data-dt-idx="1" tabindex="0" class="page-link"><i class="ti-angle-left"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="data-table-5" data-dt-idx="2" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="data-table-5" data-dt-idx="3" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="data-table-5" data-dt-idx="4" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="data-table-5" data-dt-idx="5" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="data-table-5" data-dt-idx="6" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="data-table-5" data-dt-idx="7" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="data-table-5_next"><a href="#" aria-controls="data-table-5" data-dt-idx="8" tabindex="0" class="page-link"><i class="ti-angle-right"></i></a></li><li class="paginate_button page-item last" id="data-table-5_last"><a href="#" aria-controls="data-table-5" data-dt-idx="9" tabindex="0" class="page-link"><i class="ti-angle-double-right"></i></a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
